= simple_form_for @store, :html => { :class => 'bs-container' } do |f|
  = f.error_notification
  = f.input :name
  = f.simple_fields_for :user_attributes, @store.user do |u|
    = u.input :full_name
    = u.input :email
    = u.input :display_name
    = u.input :password
    = u.input :password_confirmation
  = f.button :submit, :value => "Register", :class => "btn-primary"
  = f.error :base
