= link_to "Not registered? Sign up here", new_user_path
= simple_form_for :sessions, :url => sessions_path, :html => {:class => 'bs-container'} do |f|
  = f.error_notification
  = f.input :email
  = f.input :password
  = f.button :submit, :value => "Log In", :class => "btn-primary"
  = f.error :base
