= simple_form_for :sessions, :url => sessions_path do |f|
  %h4= "Welcome back!"
  = f.error_notification
  = f.input :email, label: false, input_html: { placeholder: "Email" }
  = f.input :password, label: false, input_html: { placeholder: "Password" }
  = f.button :submit, :value => "Log In", :class => "form-primary-button"
  = f.error :base
