= form_for @consumer do |f|
  - if @consumer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@consumer.errors.count, "error")} prohibited this consumer from being saved:"
      %ul
        - @consumer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :billing_address_id
    = f.number_field :billing_address_id
  .field
    = f.label :shipping_address_id
    = f.number_field :shipping_address_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
