%p#notice= notice

%p
  %b Email:
  = @consumer.email
%p
  %b Billing address:
  = @consumer.billing_address_id
%p
  %b Shipping address:
  = @consumer.shipping_address_id
%p
  %b User:
  = @consumer.user_id

= link_to 'Edit', edit_consumer_path(@consumer)
\|
= link_to 'Back', consumers_path
