- provide(:title, 'Admin Dashboard')
%section#right-pane
  .row.admin-header
    .span12
      %h2 
        = "Welcome, #{current_user.full_name}"

  %section.dashboard
    .row
      .span2.widget
        %h4 Pending
        %h2.widget-count
          - pending = []
          - @orders.each do |order|
            - if order.current_status == "pending"
              - pending << order
          = pending.count
      .span2.widget
        %h4 Shipped
        %h2.widget-count
          - shipped = []
          - @orders.each do |order|
            - if order.current_status == "shipped"
              - shipped << order
          = shipped.count
      .span2.widget
        %h4 Paid
        %h2.widget-count
          - paid = []
          - @orders.each do |order|
            - if order.current_status == "paid"
              - paid << order
          = paid.count
      .span2.widget
        %h4 Cancelled
        %h2.widget-count
          - cancelled = []
          - @orders.each do |order|
            - if order.current_status == "cancelled"
              - cancelled << order
          = cancelled.count      
      .span2.widget
        %h4 Returned
        %h2.widget-count
          - returned = []
          - @orders.each do |order|
            - if order.current_status == "returned"
              - returned << order
          = returned.count

  %ul#admin-tabs
    %li.dashboard.active
      = link_to "Dashboard", store_admin_path
    %li.orders
      = link_to "Orders", store_admin_orders_path
    %li.products
      = link_to "Products", store_admin_products_path
    %li.categories
      = link_to "Categories", store_admin_categories_path
    %li
      =link_to "Admins", store_admin_members_path(current_store)

  :javascript
    $(document).ready(function(){
      var something = window.location.toString().split('/')[5];
      if (something != null) {
        $('.' + something).addClass('active');
        $('.dashboard').removeClass('active');
      }
    })

  #admin-tab.span12
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span2 Order Number
          %th.span3 Date Ordered
          %th.span2 Order Total
          %th.span2 Status
      %tbody
        - @orders.each do |order|
          %tr
            %td
              = link_to order.id, store_admin_order_path(current_store, order)
            %td= (order.created_at).to_date.strftime("%B %-d, %Y")
            %td= number_to_currency(order.total_price)
            %td= order.current_status