- provide(:title, 'Admin Product List')
.row-fluid
  .span12
    .page-header
      %h1 Administration Portal

.row-fluid
  .tabbable
    %ul.nav.nav-tabs
      %li
        = link_to "Dashboard", store_admin_path
      %li
        = link_to "Past Orders", store_admin_orders_path
      %li.active
        = link_to "Manage Products", store_admin_products_path
      %li
        = link_to "Manage Categories", store_admin_categories_path
      %li
        = link_to "Manage Admins", store_admin_members_path

.row-fluid
  .span12
    .span6
      %h3 Products
    .span6.header-button
      = button_to "Add New Product", new_store_admin_product_path(current_store), method: :get, :class => "btn pull-right"
.row-fluid
  .span12
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span1 Product
          %th.span3 Title
          %th.span4 Description
          %th.span2 Price
          %th.span2 Action
      %tbody
        - @products.each do |product|
          %tr
            %td= image_tag product.photo.url
            %td= product.title
            %td= product.description
            %td= number_to_currency(product.price_in_dollars)
            %td= link_to "edit", edit_store_admin_product_path(current_store, product)
