.row
  .single-form.span4
    %a.brand.brand-dark{:href => "/"} Shopmazing
    = simple_form_for @user do |f|
      %h4 Edit Your Profile
      = f.error_notification
      = f.input :full_name, label: false, input_html: { placeholder: "Full name" }
      = f.input :email, label: false, input_html: { placeholder: "Email" }
      = f.input :display_name, label: false, input_html: { placeholder: "Display name" }
      = f.simple_fields_for :phone_number do |p|
        = p.input :phone, label: false, input_html: { placeholder: "Phone" }
        = p.input :receive_sms, label: "Receive SMS?", as: :radio_buttons, :item_wrapper_class => 'inline'
      = f.input :password, label: false, input_html: { placeholder: "Password" }
      = f.input :password_confirmation, label: false, input_html: { placeholder: "Password confirmation" }
      = f.error :base
      %div
        = f.button :submit, :value => "Update Profile", :class => "form-primary-button"
