<div class='row-fluid'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to "Home", "/" %>
    <span class='divider'>/</span>
    </li>
    <li class='active'>
      My Account
    </li>
  </ul>
</div>
<div class='row-fluid'>
  <div class='tabbable'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <%= link_to "Profile", @user %>
      </li>
      <li >
        <%= link_to "Past Orders", orders_path %>
      </li>
    </ul>
  </div>
</div>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <%= f.input :full_name %>
  <%= f.input :email %>
  <%= f.input :display_name %>

  <%= f.simple_fields_for :phone_number do |p| %>
    <%= p.input :phone %>
    <%= p.input :receive_sms, label: "Receive SMS?", as: :radio_buttons, :item_wrapper_class => 'inline' %>
  <% end %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.error :base %>

  <div> 
    <%= f.button :submit, :value => "Update Profile", :class => "btn-primary"%>
  </div>

<% end %>
