<div id="signup" >
<div class='row-fluid'>
  <div class='span6 offset3'>
    <h2 class='text-center'>Create an Account</h2>
    <%= link_to "Already registered? Log in here", login_path, :class => 'text-center' %> 
      <%= simple_form_for @user, :html => { :class => 'bs-container' } do |f| %>
        <%= f.error_notification %>
        <%= f.input :full_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, :value => "Register", :class => "btn-primary"%>
        <%= f.error :base %>

      <% end %>
  </div>
</div>
</div>
