<div class='row-fluid'>
  <div class='span6 offset3'>
    <h2 class='text-center'>Create An Account</h2>
      <a href='#'>
        <p class='text-center'>Already registered? Sign In here</p>
      </a>
      <%= simple_form_for @user, :html => { :class => 'bs-container' } do |f| %>
        <%= f.error_notification %>
        <%= f.input :full_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, :value => "Register", :class => "btn-primary"%>
      <% end %>
  </div>
</div>
