<div class='row-fluid'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to "Home", "/" %>
    <span class='divider'>/</span>
    </li>
    <li class='active'>
      My Account
    </li>
  </ul>
</div>
<div class='row-fluid'>
  <div class='tabbable'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <%= link_to "Update Information", user_path(@user) %>
      </li>
      <li >
        <%= link_to "Past Orders", orders_path %>
      </li>
      <li >
        <%= link_to "Update Phone Number", new_user_phone_number_path(@user) %>
      </li>
    </ul>
  </div>
</div>

<p> Full Name </p>
<p><%= @user.full_name %></p>
</br>

<p> Email </p>
<p><%= @user.email %></p>
</br>
  
<p> User Display Name </p>
<p><%= @user.display %></p>

</br>
<p> Phone Number </p>
<p><%= @user.phone_number.phone %></p>
