<div class='row-fluid'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to "Home", "/" %>
    <span class='divider'>/</span>
    </li>
    <li class='active'>
      My Account
    </li>
  </ul>
</div>
<div class='row-fluid'>
  <div class='tabbable'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <%= link_to "Profile", user_path(@user) %>
      </li>
      <li >
        <%= link_to "Past Orders", orders_path %>
      </li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <ul class="profile">
    <li>
      <div class="span8"> 
        <p class="span3 header"> Full Name </p>
        <p class="span5"><%= @user.full_name %></p>
      </div>
    </li>
    <li>
      <div class="span8"> 
        <p class="span3 header"> Email </p>
        <p class="span5"><%= @user.email %></p>
      </div>
    </li>
    <li>
      <div class="span8"> 
        <p class="span3 header"> Phone </p>
        <p class="span5"><%= @user.phone_number.try(:phone) %></p>
      </div>
    </li>
    <li>
      <div class="span8"> 
        <p class="span3 header"> Receive SMS Alerts </p>
        <p class="span5"><%= @user.phone_number.receive_sms %></p>
      </div>
    </li>
    <li>
      <div class="span8">
        <%= link_to "Update Profile", edit_user_path(@user) %>
      </div>
    </li>
  </ul>
</div>
