.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav.pull-right
          = current_user.inspect
          - if current_user
            Welcome #{current_user.inspect}!
          - if current_user
            %b Welcome #{User.find(current_user).full_name}!
            %li= link_to "My Account", user_path(current_user)
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Log In", new_session_path
            %li= link_to "Sign Up", new_user_path

        %ul.nav.pull-right
          / %li= link_to "My Cart", cart_path(current_store, current_cart)
