.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav.pull-right
          - if current_customer
            - if !current_customer.display_name.blank?
              - customer_name = current_customer.display_name
            - else
              - customer_name = current_customer.full_name
            %li
              %p
                Welcome #{customer_name}!
            %li= link_to "My Account", customer_path(current_customer)
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Log In", login_path
            %li= link_to "Sign Up", signup_path
        %ul.nav.pull-right
          %li= link_to "My Cart", cart_path(current_store, current_cart)
