#signup
  .row-fluid
    .span6.offset3
      %h2.text-center Update Your Store Details
      = simple_form_for @store do |f|
        = f.error_notification
        = f.input :name, :label => "Store Name"
        = f.input :path
        = f.input :description
        = f.button :submit, :value => "Register", :class => "btn-primary"
        = f.error :base