/ -# = logger.debug current_path

/ - provide(:title, 'Platform Admin Store List')
/ .row-fluid
/   .span12
/     .page-header
/       %h1 Platform Administration Portal

/ .row-fluid
/   .tabbable
/     %ul.nav.nav-tabs
/       %li
/         = link_to "Approved Stores", admin_stores_path({status: "approved"})
/       %li.active
/         = link_to admin_stores_path({status: "pending"}) do 
/           Pending Stores
/           %span.badge.badge-info 3
/       %li
/         = link_to "Declined Stores", admin_stores_path({status: "declined"})

/ - if @flag == "pending" || @flag == "declined"
/   = render :partial => "pending_stores_table", locals: {stores: @stores}
/ - else @flag == "approved"   
/   = render :partial => "approved_stores_table", locals: {stores: @stores}

%section#right-pane
  .row.admin-header
    .span11
      %h2 
        = "Welcome, #{current_user.full_name}"
      %a.admin-primary-button{:href => "#"}
        View Your Store
  %section.dashboard
    .row
      .span3.widget
        %h4 Online Stores
        %h2.widget-count.widget-online
          - online = []
          - @all_stores.each do |store|
            - if store.status == "online"
              - online << store
          = online.count
      .span3.widget
        %h4 Pending Stores
        %h2.widget-count.widget-pending
          - pending = []
          - @all_stores.each do |store|
            - if store.status == "pending"
              - pending << store
          = pending.count
      .span3.widget
        %h4 Declined Stores
        %h2.widget-count.widget-declined
          - declined = []
          - @all_stores.each do |store|
            - if store.status == "declined"
              - declined << store
          = declined.count
  
    / .confirmation.span8
    /   %a.over{:href => "/deactivate", :style => "float: right;"}
    /     Deactivate
    /   .this-one{:style => "position: relative;"}
    /     .confirmation-buttons
    /       .the-buttons{:style => "float:right;"}
    /         Are you sure?
    /         %a.confirmation-button{:href => "#"}
    /           Yes
    /         \/
    /         %a.confirmation-button{:href => "#"}
    /           No

  / .tabbable
  /   %ul.nav.nav-tabs
  /     %li
  /       = link_to "Approved Stores", admin_stores_path({status: "approved"})
  /     %li.active
  /       = link_to admin_stores_path({status: "pending"}) do 
  /         Pending Stores
  /         %span.badge.badge-info 3
  /     %li
  /       = link_to "Declined Stores", admin_stores_path({status: "declined"})
  :javascript
    $(document).ready(function(){
      try {
        var something = window.location.toString().split('?')[1].split('=')[1];
        $('.approved').removeClass('active');
        $('.' + something).addClass('active');
      }
      catch(err) {
        var something = window.location.toString().split('?')[1].split('=')[1];
      }
    })
  %ul#admin-tabs
    %li.approved.active
      = link_to "Approved Stores", admin_stores_path({status: "approved"})
    %li.pending
      = link_to admin_stores_path({status: "pending"}) do 
        Pending Stores
    %li.declined
      = link_to "Declined Stores", admin_stores_path({status: "declined"})

  #admin-tab.span10
    - if @flag == "pending" || @flag == "declined"
      = render :partial => "pending_stores_table", locals: {stores: @stores}
    - else @flag == "approved"   
      = render :partial => "approved_stores_table", locals: {stores: @stores}