<div>
  <%= simple_form_for :address, :url => url_for(:action => 'create', :controller => 'orders'), :html => {:class => "bs-container"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipcode %>
  <%= f.button :submit, :value => "Place Order", :class => "btn-primary" %>
  <%= f.error :base %>
  <% end %>
</div>
