.row-fluid
  %ul.breadcrumb
    %li
      = link_to "Home", "/"
      %span.divider /
    %li.active
      My Account
.row-fluid
  .tabbable
    %ul.nav.nav-tabs
      %li
        = link_to "Profile", profile_path
      %li.active
        = link_to "Past Purchases", profile_orders_path
.row-fluid
  .span12
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span2 Order Number
          %th.span2 Store
          %th.span3 Date Ordered
          %th.span2 Order Total
          %th.span3 Status
      %tbody
        - @orders.each do |order|
          %tr
            %td
              = link_to order.id, order_path(order.store, order)
            %td
              = order.store.name
            %td
              = (order.created_at).to_date.strftime("%B %-d, %Y")
            %td
              = number_to_currency(order.total_price)
            %td
              = order.current_status
