<%= simple_form_for [:user, @phone_number] do |f| %>
  <%= f.error_notification %>
  <%= f.input :phone %>
  <%= f.input :receive_sms, as: :boolean %>
  <%= f.hidden_field :user_id %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
  <%= f.error :base %>
<% end %>
