.row-fluid
  %ul.breadcrumb
    %li
      = link_to "Home", "/"
      %span.divider /
    %li.active
      My Account
.row-fluid
  .tabbable
    %ul.nav.nav-tabs
      %li
        = link_to "Profile", admin_user_path(current_user)
      %li
        = link_to "Past Orders", orders_path
      %li.active
        = link_to "Update Phone Number", new_user_phone_number_path
= render 'form'
