.row-fluid
  #login
    .span6.offset3
      %h2.text-center Log In
      = link_to "Not registered? Sign up here", new_session_path
      = simple_form_for :session, :url => sessions_path, :html => {:class => 'bs-container'} do |f|
        = f.error_notification
        = f.input :email
        = f.input :password
        = f.button :submit, :value => "Log In", :class => "btn-primary"
        = f.error :base
