<p id="notice"><%= notice %></p>

 <ul class="breadcrumb">
  <li>
    <span class="divider"><!----></span>
  </li>
  <li class="active">
    <li>
    <%= link_to 'All Products', products_path %>
  </li> / 
  <li><%= @category.name %>
  </li>
</ul>

<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>
        <%= @category.name.capitalize %>
      </h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="thumbnails product_list">
      <% @category.products.each do |product| %>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to product_path(product) do %>
          <%= image_tag product.photo.url %> 
          <% end %>
          <div class="caption">
            <p><%= link_to product.title, product_path(product) %></p>
            <p><%= number_to_currency(product.price_in_dollars)%></p>
          </div>
        </div>
      </li>
      <% end %>
    </div>
  </div>
</div>

