#signup
  .row-fluid
    .span6.offset3
      %h2.text-center Create Your Store
      = link_to "Already registered? Log in here", login_path, :class => 'text-center'
      = simple_form_for [:admin, @user], :html => { :class => 'bs-container' } do |f|
        = f.error_notification
        = f.input :full_name
        = f.input :email
        = f.input :display_name
        = f.input :password
        = f.input :password_confirmation
        = f.button :submit, :value => "Register", :class => "btn-primary"
        = f.error :base
