%h1= current_store.name
%ul.breadcrumb
  %li
    %span.divider
      / 
  %li.active
    All Products
.row-fluid
  .span12
    .page-header
      %h1
.row-fluid
  .thumbnails.product_list
    - @products.each do |product|
      - if product.active
        %li.span3
          .thumbnail
            = link_to product_path(product.store, product) do
              = image_tag product.photo.url
            .caption
              %h5= link_to product.title.truncate(15), product_path(product.store, product)
              %p= number_to_currency(product.price_in_dollars)
  = paginate @products
