%h1= current_tenant.name
%ul.breadcrumb
  %li
    %span.divider
      / 
  %li.active
    All Products
.row-fluid
  .span12
    .page-header
      %h1
.row-fluid
  .thumbnails.product_list
    - @products.each do |product|
      - if product.active
        %li.span3
          .thumbnail
            = link_to product_path(product) do
              = image_tag product.photo.url
            .caption
              %h5= link_to product.title, product_path(product)
              %p= number_to_currency(product.price_in_dollars)
  / = paginate @products
