!!!
%html{:lang => "en", :xhmns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title= full_title(yield(:title))
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / = javascript_include_tag "https://js.stripe.com/v1/",  "application"
    / = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body
    = render :partial => "shared/navbar"
    .container
      = render :partial => "shared/brand_header"
      = render :partial => "shared/sub_menu", :locals => {:categories =>  @categories}
      = render :partial => "shared/flash_messages", :locals => {:flash => flash}
      = yield
      = render :partial => "shared/footer"
      / %br
      / = "CURRENT USER:#{current_user.inspect}" if Rails.env.development?
      / %br
      / = "CURRENT CART: #{current_cart.inspect}" if Rails.env.development?
      / %br
      / = "CURRENT STORE: #{current_store.inspect}" if Rails.env.development?
